body
{
    background-color:#32323C;
    display:inline-flex;
   /* justify-content: :center;
    align-items:center; */
    min-height:200vh;
    overflow:visible;
}

        main

            {
            min-height:2px;
            max-height:50px;
            min-width:200px;
            background:#252530;
            padding: 10px 50px;
            border-radius: 5px;
            box-shadow: 5px 25px 50px -20px black;
            width:113%;
            
           
                
            }
            
            ul 
                {
                    padding:0;
                    list-style:none;
                   
                    
                    }
                        
                        .navigation{display:inline-flex;}

        

        
                    li a , .dropbtn
                    {
                        
                        color:white;
                        width: 100%;
                        text-decoration: none;
                        padding:14px 16px;
                        border-right: 1px solid gray;
                    }

 li.dropdown{display:block;}

        .dropdown-content
            {
                display:none;
                grid-column:auto;
                background-color:#252530;
                border-bottom: 1px solid black;
                min-width:160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
                z-index: 1;
    
            }

                       li a:hover, .dropdown:hover, .dropbtn 
                        {
                                color:#ffbe00;
                        }

.dropdown-content a{
    
    background-color:grey;
    color:black;
    width:auto;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align: left;
}
                .dropdown-content a:hover
                    {
                        background-color:gray;
                       
                    }

                .dropdown:hover .dropdown-content{display:block;}

                                
.btn
{
   background-color: #ffbe00;
    border:none;
    color:white;
    margin-right:auto;
    padding:10px 20px 5px 10px;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    border-radius:8px;  
} 