body
{
  background-color:#100F17;
}

#leaderboard tr:first-child{
  background:#474951;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100px;
    background-color:lightgray;
}

td, th {
    border: 1px solid white;
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {




}
.container
{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap:10px;
  padding:16px;
}
 .leaderboard
 {
   /*color:white;
   margin-top:200px;
   margin-left:200px;*/
   grid-area: 25/10/20/6;

 }
