ul{
  padding:0;
  list-style:none;
}

.navigation {
  display:inline-flex;
  text-transform: uppercase;
}

li a{
  color: grey;
  width: 100%;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover{
  color:white;
}

.contentnav a:active{
  background-color: rgba(247, 177, 2, 0.5);
  color: orange;
}

.nav a:active{
  background-color: rgba(247, 177, 2, 0.5);
  color: orange;
}

.submit{
  background-color: #ffbe00;
  border:none;
  color:black;
  padding:10px 10px 5px 10px;
  display: center;
  font-size: 16px;
  border-radius:8px;
  position: relative;
  margin-left: 400px;
  margin-top: 6px;
}

.dropdown{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  text-transform: uppercase;
}

.dropdown-content {
  right: 0;
  background-color: #252530;
  display:none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
