.container
{
  display: grid;
  grid-template-rows: 0.7fr 5fr 1fr;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-areas:
  "header header header"
  "profile content content"
  "profile footer footer";
  grid-gap: 5px;
  width: 99vw;
  height: 98vh;
}

header {
  grid-area: header;
  height: 50px;
  background:#252530;
}

profile{
  grid-area: profile;
  text-align: center;
}

content{
  text-align: left;
  grid-area: content;
}
