body{
  background-color:#100F17;
}
.topnav {
    overflow: hidden;
    background:#252530;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: grey;
}

/* Change the color of links on hover */
.topnav a:hover {
    color:white;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.submit{
  background-color: #ffbe00;
  border:none;
  color:black;
  padding:10px 5px 5px 5px;
  display: center;
  font-size: 16px;
  border-radius:8px;
  position: relative;
  margin-left: 475px;
  margin-top: 8px;
  text-transform: uppercase;
}

.dropdown{
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
}

.dropdown-content {
  background-color: #252530;
  right: 0;
  display:none;
  position: absolute;
  min-width: 150px;
  margin-right: 8px;
  z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    float: none;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
